<div id="header" 
[ngStyle]="{'display': (legalDesktop || legalMobile || windowWidth  > 375) ? 'flex' : 'none'}"  
[@fadeIn]="isVisible ? 'visible' : 'hidden'" appIntersectionObserver (intersecting)="onIntersection($event)">
    <div id="headerContainer">
        <a (click)="navigateTo('top')">
            <img id="navLogo" src="assets/logo/4.png" alt="logo">
        </a>
        <div id="oneLine">
            <div class="linksContainer">
                <a (click)="navigateTo('aboutMe')" class="menuButton">{{ headerTemplateService.languageData[language].aboutMeTitle }}</a>
                <a (click)="navigateTo('skills')" class="menuButton">{{ headerTemplateService.languageData[language].skillsTitle }}</a>
                <a (click)="navigateTo('projects')" class="menuButton">{{ headerTemplateService.languageData[language].projectsTitle }}</a>
                <a (click)="navigateTo('contact')" class="menuButton">{{ headerTemplateService.languageData[language].contactTitle }}</a>
            </div> 
        </div>
        <div id="twoLines">
            <div class="linksContainer">
                <div class="linksContainerTop">
                    <a (click)="navigateTo('aboutMe')" class="menuButtonTop">{{ headerTemplateService.languageData[language].aboutMeTitle }}</a>
                    <a (click)="navigateTo('skills')"class="menuButtonTop">{{ headerTemplateService.languageData[language].skillsTitle }}</a>
                </div>
                <div class="linksContainerBottom">
                    <a (click)="navigateTo('projects')" class="menuButtonBottom">{{ headerTemplateService.languageData[language].projectsTitle }}</a>
                    <a (click)="navigateTo('contact')" class="menuButtonBottom">{{ headerTemplateService.languageData[language].contactTitle }}</a>
                </div>
            </div> 
        </div>
        <div id="languagesContainer">
            <div id="germanContainer" (click)="showGerman()" class="unmark">
                <a id="german" href="javascript:void(0);">DE</a>
            </div>
            <div id="englishContainer" (click)="showEnglish()" class="mark">
                <a id="english" href="javascript:void(0);">EN</a>
            </div>
        </div>
    </div>
</div>