#aboutMe {
    scroll-margin-top: 200px;
    width: 100vw;
    max-width: 1920px;
    background-color: rgb(37, 45, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-family: 'Anta';
        font-size: 60px;
        font-weight: 400;
        color: rgb(137, 187, 217);
        margin-top: 100px;
        margin-bottom: 50px;
    }
    #aboutMeTextContainer {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
            font-family: 'JosefinSans';
            font-size: 18px;
            font-weight: 400;
            color: white;
        }
    }
} 