@media (max-width: 1040px) {
    #aboutMe {
        scroll-margin-top: 220px;
        h1 {
            font-size: calc(60px - 10px);
        }
    }
}
@media (max-width: 830px) {
    #aboutMe {
        scroll-margin-top: 220px;
        h1 {
            font-size: calc(60px - 2*10px);
        }
    }
}
@media (max-width: 770px) {
    #aboutMe {
        scroll-margin-top: 220px;
    }
}
@media (max-width: 475px) {
    #aboutMe {
        scroll-margin-top: 220px;
        h1 {
            font-size: calc(60px - 28px);
        }
    }
}
@media (max-width: 375px) {
    #aboutMe {
        margin-top: 100px;
        scroll-margin-top: 220px;
        #aboutMeTextContainer {
        p {
            font-size: calc(18px - 2px);
        }
        }
    }
}