@media (max-width: 1040px) {
    #skills {
        h1 {
            font-size: calc(60px - 10px);
        }
        #skillsContainer {
            #skillsIcons {
                width: calc(350px - 95px);
                height: calc(360px - 45px);
                gap: calc(25px - 5px);
                img {
                    width: calc(76px * 0.9);
                    height: calc(100px * 0.9);
                }
            }
            #skillsText {
                width: calc(300px - 30px);
                height: calc(300px - 30px);
                #skillsToLearnContainer {
                    #pythonIcon {
                        width: calc(50px * 0.9);
                        height: calc(50px * 0.9);
                    }
                    #cIcon {
                        width: calc(55px * 0.9);
                        height: calc(55px * 0.9);
                    }
                }
                span {
                    font-size: calc(18px - 2px);
                }
            }
        }
    } 
}
@media (max-width: 830px) {
    #skills {
        h1 {
            font-size: calc(60px - 2*10px);
        }
        #skillsContainer {
            #skillsIcons {
                width: calc(350px - 115px);
                height: calc(360px - 45px);
                gap: calc(25px - 5px);
                img {
                    width: calc(76px * 0.8);
                    height: calc(100px * 0.8);
                }
            }
            #skillsText {
                width: calc(300px - 30px);
                height: calc(300px - 30px);
                #skillsToLearnContainer {
                    #pythonIcon {
                        width: calc(50px * 0.8);
                        height: calc(50px * 0.8);
                    }
                    #cIcon {
                        width: calc(55px * 0.8);
                        height: calc(55px * 0.8);
                    }
                }
                span {
                    font-size: calc(18px - 2px);
                }
            }
        }
    } 
}
@media (max-width: 770px) {
    #skills {
        padding-bottom: 50px;
    }
}
@media (max-width: 660px) {
    #skills {
        h1 {
            font-size: calc(60px - 2*10px);
        }
        #skillsContainer {
            gap: calc(50px - 25px);
            #skillsIcons {
                width: calc(350px - 200px);
                height: calc(360px + 75px);
                gap: calc(25px - 5px);
                img {
                    width: calc(76px * 0.8);
                    height: calc(100px * 0.8);
                }
            }
            #skillsText {
                width: calc(300px - 3*30px);
                height: calc(300px - 3*30px);
                padding-bottom: -20px;
                padding-top: 10px;
                #skillsToLearnContainer {
                    #pythonIcon {
                        width: calc(50px * 0.8);
                        height: calc(50px * 0.8);
                    }
                    #cIcon {
                        width: calc(55px * 0.8);
                        height: calc(55px * 0.8);
                    }
                }
                span {
                    font-size: calc(18px - 2px);
                }
            }
        }
    } 
}
@media (max-width: 475px) {
    #skills {
        h1 {
            font-size: calc(60px - 28px);
        }
        #skillsContainer {
            flex-direction: column;
            gap: 0;
            #skillsIcons {
                width: 250px;
                height: 100px;
                img {
                    width: 42px;
                    height: 45px;
                }
            }
            #skillsTextMobile {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 40px;
                gap: 20px;
                #skillsTextTop {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #skillsToLearnContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(45, 57, 64);
                    border-radius: 40%;
                    width: 100px;
                    height: 80px;
                    #pythonIcon {
                        width: 45px;
                        height: 45px;
                    }
                    #cIcon {
                        width: 45px;
                        height: 45px;
                    }
                }
                #skillsTextBottom {
                    width: 100%;
                    text-align: center;
                }
                span {
                    font-family: 'JosefinSans';
                    font-size: calc(18px - 2px);
                    font-weight: 400;
                    color: white;
                }
            }
            #skillsText {
                display: none;
            }
        }
    } 
}