<div id='imprint'>
    <div id='imprintContainer'>
        <h1>{{ imprintTemplateService.languageData[language].imprintTitle }}</h1>
        <a class="arrowLeftContainerDesktop" (click)="navigateToHome()">
            <div class="arrowLeftBorder">
                <img class="arrowLeft" src="assets/other/Arrow.svg" alt="arrowLeft">
            </div>
        </a>
        <section class="part">
            <h2>{{ imprintTemplateService.languageData[language].responsible }}</h2>
            <p>Andrej Homann</p>
            <h3>{{ imprintTemplateService.languageData[language].address }}</h3>
            <p>Stellmacherweg 21A, 48268 Greven</p>
            <h3>{{ imprintTemplateService.languageData[language].contact }}</h3>
            <p>E-Mail: andrej.homann1990&#64;gmail.com</p>
            <p>{{ imprintTemplateService.languageData[language].phone }}</p>
        </section>
        <section class="part">
            <h2>{{ imprintTemplateService.languageData[language].hints }}</h2>
            <h3>{{ imprintTemplateService.languageData[language].copyrightHints }}</h3>
            <p>&copy; Andrej Homann 2025</p>
            <h3>{{ imprintTemplateService.languageData[language].text1 }}</h3>
            <p>Andrej Homann</p>
            <p><em>
                {{ imprintTemplateService.languageData[language].text2 }} 
                <a id="activeMind" href="https://www.activemind.de/generatoren/impressum/" target="_blank" rel="noopener">
                    {{ imprintTemplateService.languageData[language].text3 }}
                </a> 
                {{ imprintTemplateService.languageData[language].text4 }}
            </em></p>
        </section>
        <a class="arrowLeftContainerDesktop" (click)="navigateToHome()">
            <div class="arrowLeftBorder">
                <img class="arrowLeft" src="assets/other/Arrow.svg" alt="arrowLeft">
            </div>
        </a>
    </div>
</div>