<div id='privacy'>
    <div id='privacyContainer'>
        <h1>{{ privacyTemplateService.languageData[language].privacyTitle }}</h1>
        <a class="arrowLeftContainerDesktop" href="#top">
            <div class="arrowLeftBorder">
                <img class="arrowLeft" src="assets/other/Arrow.svg" alt="arrowLeft">
            </div>
        </a>
        <div class="part">
            <h2>{{ privacyTemplateService.languageData[language].responsible }}</h2>
            <p></p>
            <p>Andrej Homann</p>
            <h2>{{ privacyTemplateService.languageData[language].rights }}</h2>
            <p>{{ privacyTemplateService.languageData[language].rightsHeader }}</p>
            <ul>
                {{ privacyTemplateService.languageData[language].rightsText1 }} <br>
                {{ privacyTemplateService.languageData[language].rightsText2 }} <br>
                {{ privacyTemplateService.languageData[language].rightsText3 }} <br>
                {{ privacyTemplateService.languageData[language].rightsText4 }} <br>
                {{ privacyTemplateService.languageData[language].rightsText5 }} <br>
                {{ privacyTemplateService.languageData[language].rightsText6 }} <br>
            </ul>
            <p>{{ privacyTemplateService.languageData[language].rightsText7 }}</p>
            <p>{{ privacyTemplateService.languageData[language].rightsText8 }}</p>
            <p class="longPart">{{ privacyTemplateService.languageData[language].rightsText9 }} 
                <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/<br>Infothek/Anschriften_Links/anschriften_links-node.html</a>
                .
            </p>
        
        </div>
        <div class="part">
            <h2>{{ privacyTemplateService.languageData[language].processingText1 }}</h2>
            <h3>{{ privacyTemplateService.languageData[language].processingText2 }}</h3>
                <h4>{{ privacyTemplateService.languageData[language].processingText3 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText4 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText5 }}</p>
                <ul>
                    {{ privacyTemplateService.languageData[language].processingText6 }} <br>
                </ul>
                <p>{{ privacyTemplateService.languageData[language].processingText7 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText8 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText9 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText10 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText11 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText12 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText13 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText14 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText15 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText16 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText17 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText18 }}</p>
            <h3>{{ privacyTemplateService.languageData[language].processingText19 }}</h3>
                <p>{{ privacyTemplateService.languageData[language].processingText20 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText21 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText22 }}</p>
                <ul>
                    {{ privacyTemplateService.languageData[language].processingText23 }} <br>
                </ul>
                <p>{{ privacyTemplateService.languageData[language].processingText24 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText25 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText26 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText27 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText28 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText29 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText30 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText31 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText32 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText33 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText34 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText35 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText36 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText37 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText38 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText39 }}</p>
            <h3>{{ privacyTemplateService.languageData[language].processingText40 }}</h3>
                <h4>{{ privacyTemplateService.languageData[language].processingText41 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText42 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText43 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText44 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText45 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText46 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText47 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText48 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText49 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText50 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText51 }}</p>
                <h4>{{ privacyTemplateService.languageData[language].processingText52 }}</h4>
                <p>{{ privacyTemplateService.languageData[language].processingText53 }}</p>
                <p>{{ privacyTemplateService.languageData[language].processingText54 }}</p>
        </div>
        <div class="part">
            <h2>{{ privacyTemplateService.languageData[language].objectText1 }}</h2>
            <h3>{{ privacyTemplateService.languageData[language].objectText2 }}</h3>
            <p>{{ privacyTemplateService.languageData[language].objectText3 }}</p>
            <p>{{ privacyTemplateService.languageData[language].objectText4 }}</p>
            <h3>{{ privacyTemplateService.languageData[language].objectText5 }}</h3>
            <p>Andrej Homann</p>
            <h2>{{ privacyTemplateService.languageData[language].objectText6 }}</h2>
                <p>{{ privacyTemplateService.languageData[language].objectText7 }}</p>
            <h2>{{ privacyTemplateService.languageData[language].objectText8 }}</h2>
                <p>{{ privacyTemplateService.languageData[language].objectText9 }}</p>
            <h2>{{ privacyTemplateService.languageData[language].objectText10 }}</h2>
                <p><em>{{ privacyTemplateService.languageData[language].objectText11 }}
                    <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener dofollow">{{ privacyTemplateService.languageData[language].objectText12 }}</a> 
                    (Version #2024-10-25).
                </em></p>
        </div>
        <a class="arrowLeftContainerDesktop" href="#top">
            <div class="arrowLeftBorder">
                <img class="arrowLeft" src="assets/other/Arrow.svg" alt="arrowLeft">
            </div>
        </a>
    </div>
</div>